﻿{% extends "bootstrap/base.html" %}

{% block html_attribs %} lang="sv"{% endblock %}

{% block title %}{% if title %}{{ title }} - Eksjölan{% else %}NOTITLE{% endif %}{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" href="\static\css\style.css" type="text/css"><!-- fix url generate later -->
<meta charset="utf-8">
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            
            <a class="navbar-brand" href="{{ url_for('index') }}">
                <img alt="Brand" src="\static\img\logotype_black.png" width="30"><!-- fix url generate later -->
            </a>
            
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li {% if title == "Nyheter" %}class="active"{% endif %}><a href="{{ url_for('nyheter') }}">Nyheter {% if title == "Nyheter" %}<span class="sr-only">(current)</span>{% endif %}</a></li>

                <li class="dropdown {% if title == "Event" %} active {% endif %} ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Event <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ url_for('event') }}">Aktuella Event</a></li>
                        <li><a href="#">Visa Anmälda</a></li>
                        <li class="divider"></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </li>

                <li class="dropdown {% if title == "Föreningsinformation" %} active {% endif %}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Föreningsinformation <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Vår Förening</a></li>
                        <li><a href="#">Våra Event</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Våra Regler</a></li>
                    </ul>
                </li>

                <li {% if title == "Kontakt" %}class="active" {% endif %}><a href="#">Kontakt {% if title == "Kontakt" %}<span class="sr-only">(current)</span>{% endif %}</a></li>
                <li {% if title == "Chatt" %}class="active" {% endif %}><a href="#">Chatt {% if title == "Chatt" %}<span class="sr-only">(current)</span>{% endif %}</a></li>
                <!--<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>-->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if g.user.is_authenticated() %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ g.user.nick }} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Min Profil</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
                {% endif %}
                {% if g.user.is_authenticated() %}
                {% if g.user.is_admin() %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Administratörsverkyg<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Min Profil</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
                {% endif %}
                {% endif %}
                {% if g.user.is_authenticated() %}
                {% if g.user.is_admin() or g.user.is_moderator() %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Moderatorsverkyg<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ url_for('skapa_nyhetsinlagg') }}">Skapa Nytt Nyhetsinlägg</a></li>
                        <li><a href="{{ url_for('skapa_event') }}">Skapa Nytt Event</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Redigera Nyhetsinlägg</a></li>
                        <li><a href="#">Redigera Event</a></li>
                    </ul>
                </li>
                {% endif %}
                {% endif %}
                {% if g.user.is_authenticated() %}<li {% if title == "Logga Ut" %}class="active" {% endif %}><a href="{{ url_for('logga_ut') }}">Logga Ut</a></li>{% endif %}
                {% if not g.user.is_authenticated() %}<li {% if title == "Skapa Konto" %}class="active" {% endif %}><a href="{{ url_for('skapa_konto') }}">Skapa Konto</a></li>{% endif %}
                {% if not g.user.is_authenticated() %}<li {% if title == "Logga In" %}class="active" {% endif %}><a href="{{ url_for('logga_in') }}">Logga In</a></li>{% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
    {% block footer %}
    <hr />
    {% if g.user.is_authenticated() %}
        {% if g.user.is_admin() %}
       <p>Din användare har Adminrättigheter!</p>
        {% elif g.user.is_moderator() %}
        <p>Din användare har Moderatorrättigheter!</p>
        {% endif %}
    {% endif %}
    Kodad av Zackarias Montell - Wholteza
    {% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{{ moment.lang('sv') }}
{% endblock %}