{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf%}

{% block page_content %}
<div class="row">
    <div class="col-md-12">
        <h1>Skapa Event</h1>
    </div>
</div>

<div class="well">
    <div class="row">
        <div class="col-md-12">
            {% if user_logged_in %}
            <h2>Du ar redan inloggad {{ user_logged_in.nick }}!</h2>
            {% else %}
            <form class="form" method="post" role="form">
                {{ form.hidden_tag() }}
                <p>Namn: {{ wtf.form_field(form.name, form_type="inline") }}</p>
                <p>Brödtext: {{ wtf.form_field(form.textentry, form_type="inline") }}</p>
                <p>Plats: {{ wtf.form_field(form.location, form_type="inline") }}</p>
                <p>Eventet startar: {{ wtf.form_field(form.start_datetime, form_type="inline") }}</p>
                <p>Eventet slutar: {{ wtf.form_field(form.end_datetime, form_type="inline") }}</p>
                <p>Registrering öppnar: {{ wtf.form_field(form.reg_start_datetime, form_type="inline") }}</p>
                <p>Registrering stängs: {{ wtf.form_field(form.reg_stop_datetime, form_type="inline") }}</p>
                <p>Max antal deltagare: {{ wtf.form_field(form.limit_num_participants, form_type="inline") }}</p>
                <p><input type="submit" value="Skapa Event!"></p>
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}