{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf%}

{% block page_content %}
<div class="row">
    <div class="col-md-12">
        <h1>Skapa Nyhetsinlägg</h1>
    </div>
</div>

<div class="well">
    <div class="row">
        <div class="col-md-12">
            <form class="form" method="post" role="form">
                {{ form.hidden_tag() }}
                <p>Titel: {{ wtf.form_field(form.title, form_type="inline") }}</p>
                <p>Brödtext: {{ wtf.form_field(form.textentry, form_type="inline") }}</p>
                <p><input type="submit" value="Skapa Nyhetsinlägg!"></p>
            </form>
        </div>
    </div>
</div>
{% endblock %}