{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf%}

{% block page_content %}
<div class="row">
    <div class="col-md-12">
        <h1>Skapa Konto</h1>
    </div>
</div>

<div class="well">
    <div class="row">
        <div class="col-md-12">
            {% if user_logged_in %}
            <h2>Du ar redan inloggad {{ user_logged_in.nick }}!</h2>
            {% else %}
            <form class="form" method="post" role="form">
                {{ form.hidden_tag() }}
                <p>Förnamn: {{ wtf.form_field(form.first_name, form_type="inline") }}</p>
                <p>Efternamn: {{ wtf.form_field(form.last_name, form_type="inline") }}</p>
                <p>Nickname: {{ wtf.form_field(form.nick, form_type="inline") }}</p>
                <p>Personnummer: {{ wtf.form_field(form.ssn, form_type="inline") }}</p>
                <p>Stad: {{ wtf.form_field(form.city, form_type="inline") }}</p>
                <p>Gatuadress: {{ wtf.form_field(form.adress, form_type="inline") }}</p>
                <p>Telefonnummer: {{ wtf.form_field(form.phone, form_type="inline") }}</p>
                <p>Användarnamn: {{ wtf.form_field(form.username, form_type="inline") }}</p>
                <p>Lösenord: {{ wtf.form_field(form.password, form_type="inline") }}</p>
                <p>Email-adress: {{ wtf.form_field(form.email, form_type="inline") }}</p>
                <p><input type="submit" value="Skapa Konto!"></p>
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}