{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf%}


{% block page_content %}
<div class="row">
    <div class="col-md-12">
        <h1>Event</h1>
    </div>
</div>

<div class="well">
    {% if news %}
    {% for e in events|reverse() %}
    <div class="row">
        <div class="col-md-12">
            <h2>{{ e.name }}</h2>
            <p>{{ e.textentry }}</p>
            <br /> Datum: {{ e.post_datetime }}
            {% if user_logged_in %}
            {% if user_logged_in.admin == True %}
            <!--Här skall det sedan renderas en Redigera knapp-->
            {% endif %}
            {% endif %}
            <br /><hr />
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}
