{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf%}

{% block page_content %}
    <div class="row">
        <div class="col-md-12">
            <h1>Logga In</h1>
        </div>
    </div>
    
    <div class="well">
        <div class="row">
            <div class="col-md-12">
                {% if user_logged_in %}
                <h2>Du är redan inloggad {{ user_logged_in.nick }}!</h2>
                {% else %}
                <form class="form" method="post" role="form">
                    {{ form.hidden_tag() }}
                    <p>Användarnamn: {{ wtf.form_field(form.username, form_type="inline") }}</p>
                    <p>Lösenord: {{ wtf.form_field(form.password, form_type="inline") }}</p>
                    <p><input type="submit" value="Logga In"></p>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}