{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
    <div class="row">
        <div class="col-md-12">
            <h1>Nyheter</h1>
        </div>
    </div>

    <div class="well">
        {% if news %}
            {% for n in news|reverse() %}
                <div class="row">
                    <div class="col-md-12">
                        <h2>{{ n.title }}</h2>
                        <p>{{ n.textentry }}</p>
                        <br /> Skriven av: {{ n.author }}
                        <br /> Datum: {{ n.post_datetime }}
                        {% if user_logged_in %}
                        {% if user_logged_in.admin == True %}
                        <!--Här skall det sedan renderas en Redigera knapp-->
                        {% endif %}
                        {% endif %}
                        <br /><hr />
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
